.main-login {
  box-sizing: border-box;
  max-width: 400px;
  min-height: 300px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 50px;
}
.login-banner {
  padding: 10px;
}
.form-login {
  margin-bottom: 50px;
}
.custom-input {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ==============Register================= */
.main-register{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main-register h1{
  text-align: center;
}